---
layout: proj
---
 
<body>
 
   
 
        <div class="container">
 
    <h1 class="page-title">Zoznam projektov</h1>
 
<div class="section">
    <h5 id="java_project">Java</h5>
    <div class="row">
          <div class="col s12">
            <table>
              <thead>
                <tr>
                    <th>Názov</th>
                    <th>Rok</th>
                    <th>Predmet</th>
                </tr>
              </thead>
              <tbody>
               
               {% for project in site.my_projects %}
               {% if project.jazyk contains 'Java' %}
               <tr>
                  <td><a href="">{{project.nazov}}</a></td>
                  <td>{{project.rok}}</td>
                  <td>{{project.predmet}}</td>
                </tr>
                {% endif %}
                {% endfor %}

              </tbody>
            </table>
          </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5 id="c_project">C</h5>
    <div class="row">
          <div class="col s12">
            <table class="bordered">
              <thead>
                <tr>
                    <th>Názov</th>
                    <th>Semester</th>
                    <th>Blud</th>
                </tr>
              </thead>
              <tbody>
                 {% for project in site.my_projects %}
               {% if project.jazyk contains 'cecko' %}
               <tr>
                  <td><a href="">{{project.nazov}}</a></td>
                  <td>{{project.rok}}</td>
                  <td>{{project.image}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5 id="assembly_project">Assemblery</h5>
    <div class="row">
          <div class="col s12">
            <table class="striped">
              <thead>
                {% for project in site.my_projects %}
               {% if project.jazyk contains 'ASM' %}
               <tr>
                  <td><a href="">{{project.nazov}}</a></td>
                  <td>{{project.rok}}</td>
                  <td>{{project.predmet}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5 id="c++_project">C++</h5>
    <div class="row">
          <div class="col s12">
            <table class="highlight">
              <thead>
                {% for project in site.my_projects %}
               {% if project.jazyk contains 'C++' %}
               <tr>
                  <td><a href="">{{project.nazov}}</a></td>
                  <td>{{project.rok}}</td>
                  <td>{{project.predmet}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5 id="jekyll_project">Jekyll</h5>
    <div class="row">
          <div class="col s12">
            <table class="responsive-table">
              <thead>
                <tr>
                    <th>Názov</th>
                    <th>Semester</th>
                    <th>Blud</th>
                </tr>
              </thead>
              <tbody>
                 {% for project in site.my_projects %}
               {% if project.jazyk contains 'Jekyll' %}
               <tr>
                  <td><a href="">{{project.nazov}}</a></td>
                  <td>{{project.rok}}</td>
                  <td>{{project.predmet}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</div>
 
 
</div>
 
 
   
 
  </body>