<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">homepage</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">homepage</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">galeria</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">galeria</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">blog</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category.html">blog</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">o mne</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">o mne</a>
				</li>			
			{% endif %}
			{% if page.path == "projects.html" %}
			<span class="title">
				<li>
					<a href="/projects.html">Projekty</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/projects.html">Projekty</a>
				</li>			
			{% endif %}
		</div>
			
				
	</div>
</header>
